.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  .login__input {
    display: flex;
    width: 200px;
    height: 40px;
    background-color: white;
    border: 1px solid lightgray;
  }
  .login__subTitle {
    color: #444444;
    font-size: 13px;
  }
  .login__inputContainer {
    margin-bottom: 30px;
  }
  .login__button {
    background-color: #3bc4d4;
    border-color: #3bc4d4;
    color: white;
    width: 130px;
    height: 50px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
  }
  .login__button:hover {
    background-color: black;
    color: white;
  }
  .login__link {
    padding-top: 10px;
  }
  .login__link:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px) {
    .login__input {
      width: 300px;
    }
  }
  
  