.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
  }
  .profile__input {
    display: flex;
    width: 500px;
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
  }
  .profile__subTitle {
    color: #444444;
    font-size: 13px;
  }
  .profile__inputContainer {
    margin-bottom: 30px;
  }
  .profile__button {
    background-color: #3bd480;
    border-color: #3bc4d4;
    color: white;
    width: 130px;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
  }
  .profile__button:hover {
    background-color: black;
    color: white;
  }
  .profile__link {
    padding-top: 10px;
  }
  .profile__link:hover {
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px) {
    .profile__input {
      width: 300px;
    }
  }
  @media only screen and (max-width: 300px) {
    .profile__subContainer {
      margin-left: 40px;
    }
  }
  
  .create-post {
    margin-top: 20px;
  }
  
  .create-post__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .create-post__input,
  .create-post__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .create-post__textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .create-post__button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  