.location-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .location-dropdown {
    margin-bottom: 10px;
  }
  
  .category-dropdown {
    margin-top: 10px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  