/* Styles for the profile container */
.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  /* Styles for the input fields */
  .profile__input {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
  }
  
  /* Styles for the profile subtitle */
  .profile__subTitle {
    color: #444444;
    font-size: 10px;
  }

  /* Styles for the input container */
  .profile__inputContainer {
    margin-bottom: 25px;
  }

  /* Styles for the button */
  .profile__button {
    background-color: #3bd480;
    border-color: #3bc4d4;
    color: white;
    width: 130px;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
  }

  /* Hover styles for the button */
  .profile__button:hover {
    background-color: black;
    color: white;
  }

  /* Styles for the link */
  .profile__link {
    padding-top: 11px;
  }

  /* Hover styles for the link */
  .profile__link:hover {
    text-decoration: underline;
  }

  /* Media query for screens with a maximum width of 600px */
  @media only screen and (max-width: 600px) {
    .profile__input {
      width: 300px;
    }
  }

  /* Media query for screens with a maximum width of 300px */
  @media only screen and (max-width: 300px) {
    .profile__subContainer {
      margin-left: 35px;
    }
  }
  